* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    width: 100vw;

}

header {
    display: grid;
    grid-column: 1fr;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: white;

}

header h1 {
    font-size: 2.8em;
    font-weight: bold;
    margin-top: -15px;
}

header h4 {
    margin-top: 10px;
    width: 350px;
    margin-top: 10px;
}

header img {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 180px;
    height: auto;
    margin: 10px;
    text-align: center;
}

main {
    height: 100%;
    margin-top: 50px;
}

#img {
    height: 100px;
    width: 100%;
    background-color: white;
}

#noimg {
    height: 200px;
    width: 100%;
    background-color: #71B862;
}