* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #71B862;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #D9D9D9;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botoes {
    margin-left: 30px;
}

.button {
    background-color: #0D4924;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    font-weight: bold;
}

#inicio-btn {
    background-color: #71B862;
    color: #0D4924;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #0D4924;
    border-radius: 8px;
    color: white;
    width: 200px;
    height: 300px;
    margin: 20px;
    margin-top: 130px;
}