* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9D9D9;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #71B862;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#botoes {
    margin-right: 30px;
}

.button {
    background-color: #D9D9D9;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin-left: 10px;
    font-weight: bold;
}

#inicio-btn {
    background-color: #0D4924;
    color: #D9D9D9;
}

.button:hover {
    opacity: 0.8;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #0D4924;
    border-radius: 4px;
    color: white;
    width: 200px;
    height: 250px;
    margin: 20px;
    margin-top: 130px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.card h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
}

.card p {
    text-align: center;
    margin-top: 0px;
    font-size: .85em;
    line-height: 1.2;
}

.card img {
    display: block;
    margin: 16px auto 40px auto;
    width: auto;
    max-width: 100px;
    height: auto;
    max-height: 120px;
    object-fit: contain;
}

header img {
    height: 180px;
    width: auto;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: inherit;
}